<!DOCTYPE html>
<html>
  <head>
    <title>Questionnaire</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag '//www.google.com/jsapi', 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= link_to "ログアウト", destroy_user_session_path, :method => :delete%>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    <br>
  <%= link_to "English" , root_path(locale: "en")%>
  <%= link_to "日本語" , root_path(locale: "ja")%>
  </body>
</html>
